.custom-body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .custom-container1 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  
  #myVideo {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: none;
    margin: 0;
    position: absolute;
  }
  
  .custom-header {
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 20%;
    z-index: 1;
  }
  
  #Layer_1 {
    height: 50px;
    width: 165px;
  }
  
  .custom-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
  }
  
  .custom-headsection11 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 70%;
  }
  
  .custom-h1 {
    font-size: 0.95rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: white;
  }
  
  .custom-linebtn1 {
    background-color: white;
    height: 1.5px;
    width: 22px;
  }
  
  .custom-linebtn2 {
    background-color: white;
    height: 2.5px;
    width: 22px;
  }
  
  .custom-linebtn3 {
    background-color: white;
    height: 1.5px;
    width: 22px;
    clip-path: inset(0 0 0 30%);
  }
  
  .custom-headbtn {
    height: 14px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 50px;
  }
  
  .custom-gap {
    width: 10%;
  }
  
  .custom-line1 {
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    margin-top: 15vw;
    margin-left: 25vw;
  }
  
  .custom-p {
    font-size: 6vw;
    font-family: gt-sectra;
    font-weight: 200;
    line-height: 0;
    color: white;
  }
  
  .custom-scrollline {
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    margin-top: 35vw;
    margin-left: 12vw;
  }
  
  .custom-name {
    color: white;
    font-size: 1.3rem;
    font-family: messina-sans;
  }
  
  .custom-scroll {
    color: hsla(0, 0%, 100%, 0.65);
    font-size: 1rem;
    font-family: messina-sans;
  }
  
  .custom-arrow {
    z-index: 1;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    height: 80px;
    width: 80px;
    border: 1px solid white;
    margin-top: 35vw;
    margin-left: 83vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
  .custom-arr {
    color: white;
    height: 35px;
    width: 30px;
  }
  
  .custom-one {
    width: 100%;
    position: relative;
  }
  
  .custom-bgimage {
    width: 100vw;
  }
  
  .custom-bgimageone {
    width: 100%;
    object-fit: fill;
  }
  
  .custom-headcontent {
    font-size: 1.1rem;
    font-family: gt-sectra;
    font-weight: 200;
    line-height: 0;
    color: #777;
  }
  
  .custom-headline {
    z-index: 1;
    position: absolute;
    top: 12%;
    left: 12%;
    height: 350px;
    width: 400px;
  }
  
  .custom-h3 {
    font-size: 42px;
    line-height: 0;
    font-family: gt-sectra;
    font-weight: 200;
    color: black;
  }
  
  .custom-lines {
    display: flex;
    flex-direction: column;
  }
  
  .custom-img1 {
    z-index: 1;
    position: absolute;
    top: 12%;
    left: 53%;
    height: 95vh;
    width: 33vw;
  }
  
  #custom-imgid1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .custom-img2 {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 10%;
    height: 43vh;
    width: 33vw;
  }
  
  #custom-imgid2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .custom-two {
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-twoheadid {
    font-size: 45px;
    line-height: 0;
    font-family: gt-sectra;
    font-weight: 200;
    color: black;
    height: 0px;
  }
  
  .custom-twobtn {
    display: flex;
    margin-top: 3%;
    margin-left: 63%;
  }
  
  .custom-twobtn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .custom-twobtn2 {
    height: 35px;
    width: 30px;
  }
  
  .custom-headline {
    height: 128px;
  }
  